button{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.primary{
    background-color: blue;
    color: white;
}

.outline{
    background-color: white;
    color: blue;
    border: 2px solid blue;
}

    
